/* div.body {
  height: 100vh;
  display: block;
} */
* {
  color: grey;
  margin: 0px;
  padding: 0px;
}

div.body-content {
  background: none;
  display: flex;
  height: 100%;
  /* height: 97vh; */
  border-radius: 10px;
  border: 3px solid grey;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
}
div.sidebars {
  background: rgb(39, 59, 226);
  width: 15%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
}

div.sidebars > i:first-child {
  margin-left: 20px;
  padding: 20px 0px 0px 0px;
  font-size: xx-large;
  /* background-color: red; */
  color: white;
}
div.buttons {
  background: none;
  margin: 10px;
  height: 50px;
  border: 0px;
  outline: none;
}
div.buttons button {
  background: none;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: max-content;
  text-align: left;
  padding: 15px 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: 0px;
  outline: none;
}
div.buttons a {
  background: none;
  margin: 100px 0px 0px 0px;
  width: 100%;
  height: max-content;
  text-align: left;
  /* padding: 15px 10px; */
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  border: 0px;
  outline: none;
}
div.contents {
  width: 100%;
  height: 100%;
}
div.top-nav {
  background-color: white;
  padding: 20px 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 15px 10px -18px rgb(66, 66, 228);
}
div.top-nav span {
  font-weight: bold;
  text-shadow: none;
  color: black;
  margin-left: 30px;
}
div.message button {
  background: none;
  color: grey;
  font-weight: bold;
}
div.message div.buttons {
  margin: 10px;
  height: 50px;
  border: 0px;
  border-bottom: 2px solid grey;
  background: none;
  width: 100%;
}

div.message {
  display: flex;
}
div.sidebar-child {
  background: none;
  width: 250px;
  padding: 0px 20px 20px 20px;
  border: 0px;
  border-right: 2px solid grey;
  margin: 0px 0px 0px 0px;
}
div.image {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
div.image span:last-child {
  margin: 0px 10px 0px 10px;
  font-size: 15px;
}

.dropbutton {
  background: none;
  color: grey;
  padding: 0px 5px 5px 5px;
  font-size: 16px;
  border: none;
  margin: 0px 0px 0px 10px;
}

.drop {
  margin: -3px 0px 0px 0px;
  position: relative;
  display: inline-block;
}

.option {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  right: 0;
  top: 20px;
}

.option p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.option p:hover {
  background-color: #ddd;
}

.drop:hover .option {
  display: block;
}

.drop:hover .dropbutton {
  background: none;
}

div.contents-details {
  background-color: white;
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  width: 50%;
  border: 0px;
}
div.contents-details span {
  background-color: none;
  margin-left: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
div.face {
  text-align: center;
  position: relative;
}
div.pencil {
  text-align: center;
}
div.pencil a {
  color: blue;
  position: absolute;
  top: 103px;
  font-size: small;
  text-decoration: none;
  cursor: pointer;
}
div.face img {
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  outline: 0.5px solid;
  outline-color: #4e6fa7;
}

div.names input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid grey;
}
div.names {
  display: flex;
  background: white;
  padding: 0px 0px;
  width: 70%;
  justify-content: space-around;
  margin: 20px 20px;
  gap: 50px;
}

div.email,
div.telephone,
div.address {
  background: white;
  width: 70%;
  padding: 0px 0px;
  margin: 20px;
}

div.email > input,
div.telephone > input,
div.address > input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid grey;
}
div.submit {
  background: none;
  width: 70%;
  margin: 20px;
  text-align: left;
}
div.submit > button {
  padding: 15px;
  border-radius: 10px;
  width: 20%;
  font-size: 15px;
  color: white;
  background: rgb(66, 66, 228);
  border: none;
  box-shadow: 0px 10px 40px -10px rgb(66, 66, 228);
}
input {
  margin-top: 5px;
  outline: 1px;
  outline-color: rgb(240, 240, 248);
  outline-style: solid;
}
label {
  font-weight: bold;
}
input:focus {
  outline: 1px;
  outline-color: blue;
  outline-style: solid;
  color: black;
}
