* {
  background: white;
}
input {
  padding: 20px;
  border-radius: 20px;
  /* width: 10%; */
}
div.name,
div.last {
  background: yellow;
  display: grid;
}
label {
  margin: 0px 0px 10px 0px;
}
div.all {
  display: flex;
  /* background-color: red; */
  gap: 100px;
}
